*{
    background-color: gold;
}
header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seriF;
    font-size: 200px;
    background-color: black;
    color: white;

}

.p1{
    font-size: 100px;
}
.cards{
    box-shadow: 0px 2px 3px 0.6px;
    height: 400px;
    width: 400px;
    display: inline-block;
    
    
}

h2{ 
    font-size: 200px;
}
h2:hover{
    background-color: white;
    text-align: center;
    
}

img{
    height: 200px;
    width: 200x;
    
}
.cards:hover{
    box-shadow: 0px 8px 16px 0.8px;
    height: 450px;
    width: 450px;
    background-color: black; 
    


}
p{
    font-size: 80px;
}
.cards2{
    box-shadow: 0px 3px 5px 0.7px;
    height: 500px;
    width: 500px;
}


